/** Include in this file the fonts and icons from https://icomoon.io/ **/


/*------------------------------------*\
    # Custom and icon fonts
\*------------------------------------*/

/*
Example:
@font-face {
  font-family: 'MuseoSansRounded';
  src: url('fonts/MuseoSansRounded-300.eot');
  src: url('fonts/MuseoSansRounded-300.woff') format('woff'), url('fonts/MuseoSansRounded-300.ttf') format('truetype'), url('fonts/MuseoSansRounded-300.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

.align-left { text-align: left !important; }
.align-right { text-align: right !important; }
.align-center { text-align: center !important; }