html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	font: 16px/1.5 $font__main;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

/*------------------------------------*\
    # Selection
\*------------------------------------*/

::selection {
	color: #fff;
	background: $color__text-screen;
}


img::selection {
	background: transparent;
}


 ::-moz-selection {
	 color: #fff;
	 background: $color__text-screen;
 }


img::-moz-selection {
	background: transparent;
}


::-webkit-selection {
	color: #fff;
	background: $color__text-screen;
}


img::-webkit-selection {
	background: transparent;
}


/*------------------------------------*\
    # Images
\*------------------------------------*/

img {
	height: auto;
	max-width: 100%;
}




/*------------------------------------*\
    # Links
\*------------------------------------*/

a, a *, .button {
	color: $color__text-screen;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
}

/*------------------------------------*\
    # Headings
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: $color__text-screen;


	a {
		color: $color__text-screen;

	}
}


/*------------------------------------*\
    # Text
\*------------------------------------*/

p {
	margin-bottom: 1em;
}


strong, b {
	font-weight: 600;
}


em, i {
	font-style: italic;
}

mark {
	color: #fff;
}


small {
	font-size: 85%;
}


abbr {
	cursor: help;
	border-bottom: 1px dotted #eeeeee;
}


cite {
	font-size: 90%;
	font-style: italic;
}


pre {
	font-weight: 300;
	border-radius: 3px;
}


kbd {
	color: #fff;
	padding: 2px;
	border-radius: 3px;
	background: $color__text-screen;
	font-size: 90%;
}


var {
	font-weight: 300;
	font-style: italic;
}


sub,
sup {
	font-size: 65%;
}


/*------------------------------------*\
    # List
\*------------------------------------*/

ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


dl {
	margin: 1.428em 0;
}


dt {
	padding-bottom: 4px;
	color: $color__text-screen;
}


dd {
	padding-left: 10px;
}




/*------------------------------------*\
    # Tables
\*------------------------------------*/

table {
	border-spacing: 0;
	border-collapse: collapse;
}


table, th, td {
	border: 1px solid $color__text-screen;
}


thead {
	background: #fff;
	font-weight: 600;
	color: $color__text-screen;
}